<html>
<body>
<form action="/" method="post">
	<input type="text" name="name" id="name" placeholder="NAME" required/><br><br>
	<input type="number" name="level" id="level" placeholder="LEVEL" required/><br><br>
	<button>SUBMIT</button>
</form>
</body>